#home {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;

  min-height: 90vh;
  margin-bottom: rem(70px);
}

.main-heading {
  font-size: rem(35px);
  font-weight: $medium;
  line-height: 1.2;
}

.intro-title {
  font-size: rem(25px);
  font-weight: $light;
}

.intro-desc {
  font-size: rem(18px);
  font-weight: $ex-light;
  color: $sub-font-color;
}

.scroll {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.scroll-badge {
  width: rem(26px);
  height: auto;

  margin-bottom: rem(20px);
}

.scroll-text {
  width: rem(16px);
  height: auto;
}

#scroll-circle {
  animation: circleScrollAnim 1.5s infinite alternate-reverse;
}

@keyframes circleScrollAnim {
  to {
    transform: translateY(30px);
  }
}
