#home {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;

  min-height: 100vh;
  margin-bottom: rem(70px);
}

.main-heading {
  font-size: rem(35px);
  font-weight: $medium;
  line-height: 1.2;
}

.intro-title {
  font-size: rem(25px);
  font-weight: $light;
}

.intro-desc {
  font-size: rem(18px);
  font-weight: $ex-light;
  color: $sub-font-color;
}

.scroll {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.scroll-badge {
  width: rem(26px);
  height: auto;

  margin-bottom: rem(20px);
}

.scroll-text {
  width: rem(16px);
  height: auto;
}

#scroll-circle {
  animation: circleScrollAnim 1.5s infinite alternate-reverse;
}

@keyframes circleScrollAnim {
  to {
    transform: translateY(30px);
  }
}

@media screen and (min-width: 617px) {
  .main-heading {
    font-size: rem(45px);
  }
}
@media screen and (min-width: 775px) {
  .main-heading {
    font-size: rem(55px);
  }
}
@media screen and (min-width: 990px) {
  .main-heading {
    font-size: rem(65px);
    width: 800px;
  }
}

@media screen and (min-width: 1024px) {
  #home {
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    grid-template-rows: 1fr 0.6fr;
    grid-template-areas:
      'h-heading h-heading'
      'h-intro h-scroll';
    padding-bottom: 6rem;
  }

  .main-heading {
    grid-area: h-heading;
    align-self: end;
    justify-self: center;
    margin-bottom: 4rem;
  }

  .introduction {
    grid-area: h-intro;
    text-align: left;
    justify-self: start;
    align-self: end;
  }

  .scroll {
    grid-area: h-scroll;
    justify-self: end;
    align-self: end;
  }
}
