$main-font-color: white;
$sub-font-color: #b5b5b5;
$dark-font-color: #1e1e1e;
$input-font-color: #bababa;

$highlight-color: #00ff66;

$form-color: #5f5b63;

$main-gradient: linear-gradient(to right top, #242424, #333333, #434343, #535353, #646464);
$card-gradient: #a3a3b9;

$base-size: 16;

$ex-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;

$work-card-radius: 10px;
