#work {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

  min-height: 110vh;
  margin-bottom: rem(70px);
}

.work-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    'wc-text'
    'wc-photo';
  min-height: 600px;
  max-width: 400px;

  background-color: #9e59da;

  border-radius: $work-card-radius;
}

.work-card-text {
  grid-area: wc-text;

  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}

.card-heading {
  font-size: rem(30px);
  font-weight: $medium;
  margin-bottom: rem(-20px);
  margin-top: rem(20px);
}

.card-about {
  font-size: rem(12px);
  font-weight: $light;

  color: $sub-font-color;

  text-align: justify;

  width: 80%;
}

.card-technologies {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  font-size: rem(12px);

  background-color: rgba(#000, 0.2);
  padding: rem(7px) 0;
}

.main-tech {
  color: #fbff2e;
}

.card-photo {
  grid-area: wc-photo;

  background-image: url('../img/jtinder.png');
  height: 100%;
  background-size: cover;
  background-position: center center;

  border-bottom-left-radius: $work-card-radius;
  border-bottom-right-radius: $work-card-radius;
}

@media screen and (min-width: 1024px) {
  #work {
    justify-content: space-evenly;
  }

  .work-card {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas: 'wc-text wc-photo';
    min-height: 350px;
    max-width: 850px;

    background-color: #9e59da;

    border-radius: $work-card-radius;
  }

  .card-heading {
    font-size: rem(40px);
    margin-bottom: rem(-20px);
    margin-top: rem(20px);
  }

  .card-about {
    font-size: rem(14px);
  }

  .card-technologies {
    font-size: rem(14px);
    padding: rem(10px) 0;
  }

  .card-photo {
    border-bottom-left-radius: 0;
    border-top-right-radius: $work-card-radius;
  }
}
