#work {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(100px);
  padding-top: rem(100px);
}

.main-content {
  margin: rem(20px) 0;
}

.work-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 45% 55%;
  grid-template-areas:
    'wc-text'
    'wc-photo';
  min-height: 600px;
  max-width: 300px;

  background-color: #9e59da;

  border-radius: $work-card-radius;
}

.work-card-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40% 60%;
  grid-template-areas:
    'wc-text'
    'wc-photo';
  min-height: 600px;
  max-width: 300px;

  background-color: #60c5ac;

  border-radius: $work-card-radius;
}

.work-card-text {
  grid-area: wc-text;

  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}

.card-heading {
  font-size: rem(21px);
  font-weight: $regular;
  margin-bottom: rem(-20px);
  margin-top: rem(20px);
}

.card-about {
  font-size: rem(12px);
  font-weight: $light;

  color: $sub-font-color;

  text-align: justify;

  width: 80%;
}

.card-technologies {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  font-size: rem(12px);

  background-color: rgba(#000, 0.2);
  padding: rem(7px) 0;
}

.main-tech {
  color: #fbff2e;
}

.card-photo {
  grid-area: wc-photo;

  background-image: url('../img/jtinder.png');
  height: 100%;
  background-size: cover;
  background-position: center center;

  border-bottom-left-radius: $work-card-radius;
  border-bottom-right-radius: $work-card-radius;
}
.card-photo-2 {
  grid-area: wc-photo;

  background-image: url('../img/jt-chatter.png');
  background-color: #dadbd3;
  height: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  border-bottom-left-radius: $work-card-radius;
  border-bottom-right-radius: $work-card-radius;
}

@media screen and (min-width: 1024px) {
  #work {
    justify-content: space-evenly;
  }

  .work-card {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas: 'wc-text wc-photo';
    min-height: 350px;
    max-width: 850px;
  }

  .work-card-2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas: 'wc-photo wc-text';
    min-height: 350px;
    max-width: 850px;
  }

  .card-heading {
    font-size: rem(30px);
    margin-bottom: rem(-20px);
    margin-top: rem(20px);
  }

  .card-about {
    font-size: rem(14px);
  }

  .card-technologies {
    font-size: rem(14px);
    padding: rem(10px) 0;
  }

  .card-photo {
    border-bottom-left-radius: 0;
    border-top-right-radius: $work-card-radius;
  }
  .card-photo-2 {
    border-bottom-right-radius: 0;
    border-top-left-radius: $work-card-radius;
  }
}
